body
{
    background-color: #15151e;
    margin: 0;
    padding-top:5%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 5%;
}

@media screen and (max-width:1000px)
{
    body
    {
        padding-left: 10%;
        padding-right: 10%;
    }    

    .CenteredVis{left:5%}
}

@font-face {
    font-family: formula1-regular;
    src: url('font/Formula-Regular.otf');
    font-weight: normal;
}

@font-face {
    font-family: formula1-bold;
    src: url('font/Formula-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: formula1-wide;
    src: url('font/Formula-Wide.otf');
}

@font-face {
    font-family: titillium-regular;
    src: url('font/TitilliumWeb-Regular.ttf');
}

@font-face {
    font-family: titillium-bold;
    src: url('font/TitilliumWeb-Bold.ttf');
}

hr
{
    width: 70%;
}

h1
{
    color: white;
    font-family: formula1-wide;
    font-size: 3em;
    text-align: center;
}

h2
{
    color: white;
    font-family: formula1-bold;
    font-size: 1.5em;
    text-align: center;
}

h3
{
    color: white;
    font-family: formula1-regular;
    font-size: 1.2em;
    text-align: center;
}

p
{
    color: white;
    font-family: titillium-regular;
    font-size: 1.1em;
    text-align: center;
}

#TitleLogo
{
    display: inline-block;
    height: 0.76em;
    position: relative;

}

.CenteredVis
{
    padding: 5%;
    display: grid;
    place-items: center, center;
    position: relative;
    left: 25%;
}

#vis01
{
    position: relative;
    left: 10%;
}

#vis06
{
    position: relative;
    left: 25%;
}

#conclusion
{
    font-family: titillium-regular;
}